<!doctype html>
<html>
<!-- supportal_sql_translate, Ben Grimer 30/05/22 -->
<!-- this program takes some SQL from the base/supportal/sql folder -->
<!-- and replaces the ruby scriptlet elements with elements suitable -->
<!-- to used with Navicat -->

<!-- todo: find a better way of replacing the variables in a more generic way -->

<head>
<title>Supportal SQL Translate</title>

<style>
span.head { font-size:150%; }
span.small { font-size:75%; }

div.cool { font-family: courier new; border: 1px solid black; padding: 10px; background:#eef; margin: 10px 0px; }

</style>
<script>
var new_ary = [];							// used for diagnostics
var out_ary = [];							// used to populate text area pretty print

// ****************************************
function remove_percent_lines()
{
  new_ary = [];
  out_ary = [];
  var _orig_message   = document.getElementById('orig_message').value;
  var _output_message = document.getElementById("output_message");
  var _limitkeep = document.getElementById("limit").checked;
  var _diagnostics = document.getElementById("diagnostics").checked;
  var _exclude=false;

  var lines = _orig_message.split("\n");
  for (i1=0; i1<lines.length; i1++) {
    _exclude=false;
    _special_case=false;

    line = lines[i1].trim();
    first3 = line.substring(0,3);
    if ( first3 == "LIM" && !_limitkeep )       { _exclude=true; }
    if ( line.match(/\(Array\)/) == "(Array)" ) { _exclude=true; }  // ignore line containing kind_of?(Array)
    if ( first3 == "<% " )                      { _exclude=true; }
    if ( first3 == "<%#" )                      { _exclude=true; }
    if ( line.match(/with inputs/) == "with inputs") {
      if (line.match(/\.join/) == ".join") { _exclude=true; }       // remove duplicate with for tags
      _special_case = true;
    }

    if ( !_exclude ) {
      if (_special_case) {
        line2 = line.replace(/'{0,1}<%= elements\[:item_list\] %>'{0,1}/g, "[$item_list]");
        out_ary.push( line2 + "\n");
      } else if ( "elements[" == line.match(/elements\[/) ) {
        elements = line.split(/'{0,1}<%= elements\[:'{0,1}/);     // identifies ruby tag (with & without quotes)
        new_ary.push("elements [0]=>" + elements[0] + "< <br>");    // alert("elements [0]=>" + elements[0] +"<");
        new_ary.push("elements [1]=>" + elements[1] + "< <br>");    // alert("elements [1]=>" + elements[1] +"<");
        var_name = elements[1].split("]")[0];
        new_ary.push("var_name =>" + var_name + "< <br>");        // alert("var_name =>" + var_name +"<");
        line2 = elements[0] + "[$" + var_name + "]"
        out_ary.push( line2 + "\n");
      } else {
        out_ary.push( line + "\n");
      }

    }
  }
  out_ary.push("\n")
  _output_message.value = out_ary.join("")
  if (_diagnostics) html_out.innerHTML = "<u>Diagnostics</u><br/>" + new_ary.join(""); else html_out.innerHTML = "";
}
</script>
</head>

<body>
<p>
This program takes some SQL from the base/supportal/sql folder
and replaces the ruby scriptlet elements with elements suitable
to used with Navicat.<br>
<small>(v1.0 - Ben Grimer 30/05/22)</small><br>
</p>

<br>
db code to convert<br>
<textarea rows="12" cols="160" class="cool" id="orig_message">
SELECT prb.promotion_id, rb.name, rb.branch_name, p.status
FROM  promotions_retailer_branches prb
INNER JOIN retailer_branches rb on prb.retailer_branch_id = rb.id
INNER JOIN promotions p on prb.promotion_id = p.id
<% if elements[:rb_name].present? %>
 WHERE rb.name = '<%= elements[:rb_name] %>'
<% end %>
<% if elements[:limit].present? %>
 LIMIT <%= elements[:limit] %>
<% end %>
</textarea>

<br/><input TYPE="button" value="generate" onclick="remove_percent_lines();" />
<input type="checkbox" id="limit" value="limit" CHECKED>Limit ?
<input type="checkbox" id="diagnostics" value="diagnostics" CHECKED>Diagnostics ?<br><br>

<br><br>
<textarea rows="12" cols="160" class="cool" id="output_message">Prettyprint results will appear here ...</textarea>
<div class="sqltext" id="html_out">Diagnostics will appear here ...</div>
<br><br>
</body>
</html>

<%if elements[:item_list].kind_of?(Array) %>
  <%# this means it is a tag element %>
  with inputs as (select string_to_array('<%= elements[:item_list].join(",") %>', ',') as input_items)
<% else %>
  <%# otherwise treat as a StringSingle %>
with inputs as (select string_to_array('<%= elements[:item_list] %>', ',') as input_items)
<% end %>

,list_sale_items as (
  select transaction_uuid
    , to_char(created_at, 'YYYY-MM-DD HH24:MI:SS.MS') as created_at
    , (xpath('//ns7:UnitID/text()', convert_from(data,'utf8')::xml, '{{ns7,http://www.nrf-arts.org/IXRetail/namespace/}}'))[1]::text "UnitID"
    , (xpath('//ns7:Sale/ns7:ItemID/text()', convert_from(data,'utf8')::xml, '{{ns7,http://www.nrf-arts.org/IXRetail/namespace/} }')::text[]) as sale_items
  from mcore5_app_requests, inputs
<% if elements[:date].present? %>
  WHERE created_at BETWEEN '<%= elements[:date] %>'::timestamp  AND '<%= elements[:date] %>'::timestamp + INTERVAL '1 DAY'
<% end %>
<% if elements[:date].present? && elements[:time_of_day].present? %>
  AND created_at BETWEEN '<%= elements[:date] %> <%= elements[:time_of_day][:"0"][:value] %>:00+00' AND '<%= elements[:date] %> <%= elements[:time_of_day][:"1"][:value] %>:00+00'
<% end %>
<% if elements[:store_id].present? %>
  AND (xpath('//ns7:UnitID/text()', convert_from(data,'utf8')::xml, '{{ns7,http://www.nrf-arts.org/IXRetail/namespace/}}'))[1]::text = '<%= elements[:store_id] %>'
<% end %>
  -- filter only baskets containing input 1st item
  and (regexp_match( (xpath('//ns7:Sale/ns7:ItemID/text()', convert_from(data,'utf8')::xml, '{{ns7,http://www.nrf-arts.org/IXRetail/namespace/} }'))::text , '(' || input_items[1] || ')' ))[1]
    = input_items[1]
)

select lsi.*, inp.input_items
from list_sale_items lsi, inputs inp
where array_length( input_items, 1)
  = array_length( array( (select unnest( input_items ) intersect select unnest(lsi.sale_items) ) order by 1), 1)  -- number in intersection
<% if elements[:limit].present? %>
  LIMIT <%= elements[:limit] %>
<% end %>

